@font-face {
    font-family: "daidr-s-house";
    src: url("./DAIDR-S-HOUSE.woff2") format("woff2"), url("./DAIDR-S-HOUSE.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
