@import "theme";

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif !important;
}

#app {
  @apply fixed top-0 left-0 bottom-0 right-0;
  overflow: hidden;
}

.transition-router {
  @apply transition-all;
}

::selection {
  @apply bg-primary text-primary-extralight;
}

@keyframes backshake {
  0% {
    transform: rotate(8deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
