@import "theme";

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, sans-serif !important;
}

#app {
  @apply fixed top-0 left-0 bottom-0 right-0;
  overflow: hidden;
}

.transition-router {
  @apply transition-all;
}

::selection {
  @apply bg-primary text-primary-extralight;
}

@keyframes backshake {
  0% {
    transform: rotate(8deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.transition-page-wrapper {
  @apply "transform-gpu translate-z-200vh";
  @apply backface-hidden;
}

.transition-extra-wrapper {
  @apply transform-gpu;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  transition-duration: 800ms;
  @apply opacity-100 scale-100 translate-y-0;
}

body.hide-extra-wrapper {
  .transition-extra-wrapper {
    @apply opacity-0 scale-50 translate-y-20;
  }
}

.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity;
}

.fade-enter-from,
.fade-leave-to {
  @apply opacity-0;
}
